from flask import Flask, render_template
from flask_socketio import SocketIO, send, emit

# creates a Flask application, named app
app = Flask(__name__, static_folder="static", template_folder="./")
app.config['SECRET_KEY'] = '{{secret_key}}!'
socketio = SocketIO(app)


@app.route("/")
def mainPage():
    return render_template('index.html')


@app.route("/next")
def nextRoute():
    socketio.emit("next")
    return "next"


@app.route("/prev")
def prevRoute():
    socketio.emit('prev')
    return "next"

@app.route("/slide/<init:slide>")
def prevRoute():
    socketio.emit('{0}'.format(slide))
    return "next"


if __name__ == "__main__":
    app.run(host="{{host}}", port={{port}}, debug={{debug}})
